:root {
    --main-color-light: #eef4ff;
    --secondary-color-light: #98adcc;

    --main-color-medium: #9893DA;
    --secondary-color-medium: #BBBDF6;

    --main-color-dark: #1d2434;
    --secondary-color-dark: #2D3A5F;

    --transition-color-dark: #5f709e;

    --header-height: 6rem;

    --title-text-size: 3rem;
    --subtitle-text-size: 2rem;
    --button-title-text-size: 1.5rem;

    --paragraph-size: 1rem;

    --title-text-phone: 3rem;
    --button-title-text-phone: 2.5rem;
    --paragraph-size-phone: 2rem;

    font-family: Helvetica;
}

body {
    margin: 0;
    background-color: var(--secondary-color-light);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    transition: 2s;
}

.modal-content {
    background-color: var(--main-color-light);
    margin: auto;

    border: 0.05rem solid var(--main-color-medium);
    border-radius: 2rem;

    width: 80%;
    height: 80%;
    padding: 1.5rem;

    .modal-information {
        display: grid;
        grid-template-areas:
            "header header header"
            "description empty image1"
            "description empty image2";
        grid-template-columns: 7fr 1fr 7fr;
        
        @media only screen and (max-width: 1000px) {
            grid-template-areas:
                "header"
                "description"
                "image1"
                "image2";
            grid-template-columns: 1fr;
        }

        .modal-title {
            color: var(--main-color-dark);
            font-size: var(--title-text-size);
            
            padding-left: 1.5rem;
            
            margin-top: 0.5rem;
            margin-bottom: 2rem;

            grid-area: header;

            @media only screen and (max-width: 1000px) {
                font-size: var(--title-text-phone);
            }
        }

        .modal-description {
            color: var(--main-color-dark);
            font-size: var(--paragraph-size);
            padding-left: 2.25rem;

            grid-area: description;

            @media only screen and (max-width: 1000px) {
                font-size: var(--paragraph-size-phone);
            }
        }

        .modal-image-1 {
            grid-area: image1;
        }

        .modal-image-2 {
            grid-area: image2;
        }

        .modal-image-1, .modal-image-2 {
            place-self: center;

            margin: 1rem;

            height: 12rem;
            width: 24rem;

            object-fit: cover;
            border: 0.125rem solid var(--main-color-dark);
            border-radius: 0.25rem;
            
            @media only screen and (max-width: 1000px) {
                margin-top: 4rem;
                margin-bottom: 0;
                width: 90%;
                height: 24rem;
            }
        }
    }
}

.close {
    color: var(--secondary-color-light);
    float: right;
    font-size: var(--subtitle-text-size);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--main-color-dark);
    text-decoration: none;
    cursor: pointer;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--header-height);

    background-color: var(--main-color-dark);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

    .header-text {
        flex: 8;
        text-align: start;
        font-size: var(--title-text-size);
        color: var(--main-color-light);
        letter-spacing: 0.2rem;
        margin-left: 3rem;

        @media only screen and (max-width: 1000px) {
            flex: 10;
            margin-left: 2rem;
            letter-spacing: 0;
        }
    }

    .header-button {
        flex: 1;
        background: none;
        border: none;

        margin: 0;
        padding: 0;
        margin-left: 1rem;
        margin-right: 1rem;

        font-size: var(--button-title-text-size);
        color: var(--main-color-light);
        transition: 0.2s;
    }

    @media only screen and (min-width: 1000px) {
        .header-button:hover {
            font-size: var(--subtitle-text-size);
            color: var(--secondary-color-light);
            cursor: pointer;
            transition: 0.2s;
        }
    }
}

.about-section-container {
    display: grid;
    grid-template-areas:
        "description image";
    grid-template-columns: 2fr 1fr;

    height: 24rem;
    width: 100%;
    padding-top: var(--header-height);

    @media only screen and (max-width: 1000px) {
        height: 80rem;
        
        grid-template-areas:
            "image"
            "description";
        grid-template-columns: 1fr;
    }

    .about-text-container {
        place-self: center;
        grid-area: description;

        padding: 3rem;
        padding-top: 1rem;

        .about-text-title {
            color: var(--main-color-dark);
            font-size: var(--subtitle-text-size);
            font-weight: bold;

            margin-bottom: 0.5rem;

            @media only screen and (max-width: 1000px) {
                font-size: var(--title-text-phone);
            }
        }

        .about-text {
            color: var(--main-color-dark);
            font-size: var(--paragraph-size);

            @media only screen and (max-width: 1000px) {
                font-size: var(--paragraph-size-phone);
            }
        }
    }

    .image-container {
        grid-area: image;
        padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 16rem;
            height: 16rem;

            border-radius: 4rem;
            border-color: var(--main-color-dark);
            border: solid;

            object-fit: cover;
            object-position: center;

            @media only screen and (max-width: 1000px) {
                width: 28rem;
                height: 28rem;
            }
        }
    }
}

.box-container {
    justify-self: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

    .projects-title {
        height: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
        width: 100%;

        text-align: center;
        color: var(--main-color-dark);
        font-size: var(--subtitle-text-size);
        font-weight: bold;


        @media only screen and (max-width: 1000px) {
            font-size: var(--title-text-phone);
        }
    }

    .project-box {
        display: flex;
        flex: 1;

        margin: 1rem;
        padding: 1rem;
        min-width: 24rem;

        border-radius: 0.5rem;
        border-color: var(--main-color-dark);
        border-width: 0.125rem;
        border-style: solid;

        background-color: var(--secondary-color-dark);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        box-sizing: border-box;

        img {
            align-self: center;
            justify-self: center;

            width: 10rem;
            height: 10rem;
            margin-right: 0.5rem;

            border-color: var(--main-color-dark);
            border-width: 0.125rem;
            border-style: solid;
            border-radius: 1.25rem;

            object-fit: cover;
            object-position: center;

            @media only screen and (max-width: 1000px) {
                width: 20rem;
                height: 20rem;
            }
        }

        .title-text {
            padding: 0.5rem;

            color: var(--main-color-light);
            font-size: var(--button-title-text-size);
            font-weight: bold;
            word-wrap: normal;
            text-align: left;

            @media only screen and (max-width: 1000px) {
                font-size: var(--button-title-text-phone);
                font-weight: 600;
                letter-spacing: 1px;
                padding: 1rem;
            }
        }

        @media only screen and (max-width: 1000px) {
            min-width: 30rem;
            height: 22.5rem;
        }
    }

    @media only screen and (min-width: 1000px) {
        .project-box:hover {
            background-color: var(--transition-color-dark);
            transition: 0.2s;
            cursor: pointer;
        }
    }
}

.footer {
    margin-top: 4rem;
    height: 24rem;
    background-color: var(--main-color-dark);
}